%div.video-header
  %h1 Videos
  %p A collection of videos, covering Exercise, Nutrition &amp; Mobilty.

%section.video-index
  %div.container

    / = link_to "Add new video", new_video_path

    - @videos.each_slice(3) do |videos|
      %div.video-row.clearfix
        - videos.each do |video|
          %div.video-thumb
            = link_to video do
              %div.video-image{ :style => "background-image: url(#{image_path "#{video.image.url}"})"}
                %div.tint
                %div.title-container
                  %div.title-inner
                    %h2= video.title
            %p.length= video.length
            %p.date= video.date
            %p.description= video.description

    = will_paginate @videos, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0