%section.video-section
  %div.container.clearfix
    %div.left
      %div.video-container
        %div.video-inner-container
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "540", :mozallowfullscreen => "", :src => "#{@video.video_id}", :webkitallowfullscreen => "", :width => "960px"}

    %div.right
      %h1= @video.title
      %p.description= @video.description
      %hr.dark-hr
      %p.comment-count= pluralize(@video.comments.count, "Comment")

      / = link_to "Edit", edit_video_path(@video), :class => "edit"
      / = link_to "Delete", video_path(@video), method: :delete, data: { confirm: "Are you sure?" }, :class => "delete"

%div.container.comment-container
  %div.nine
    %div#comment
      %div.comment-headline
        %h2 If you have any questions or queries about the video, then add a comment below.
      - @comments.each do |comment|

        = div_for comment do
          %div.user-image
            = image_tag comment.user.avatar.url(:thumb), class: "avatar"
          %div.user-comment
            %p.username= comment.user.first_name
            = markdown comment.content
            %div.deledit
              = link_to "Edit", edit_video_comment_path(comment.video, comment), class: "edit"
              = link_to "Delete", [comment.video, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "delete"

        %hr
      = render 'comments/form'